<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Auto Dealio</title>

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/autodealio.css">
        <link rel="stylesheet" href="/styles/bootstrap.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/responsive.css">
        <!--STYLES END-->
    </head>
    <body>
            <%- partial ('../partials/header.ejs') %>
            <%- body %>
    </body>
</html>