<!-- Default home page -->
<section id="inventory-header">
    <div class="container">
        <h1>Search Inventory</h1>
    </div>
</section>
<%- partial ('partials/search/simple') %>
<section class="browse-cars col-lg-12 col-md-12" data-ng-controller="geoController as geo">
    <div class="container">
        <div class="row">
            <div  id="states-list" ng-cloak="">
                <div data-ng-repeat="state in geo.states track by state.state" class="col-md-3">
                    <div class="state-item">
                    <a href="<%=sails.config.autodealio.site.base_url %>{{state.state}}">{{state.state_name}}</a> <br/>
                    <span>{{state.count}} Vehicles</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>