<!-- Default home page -->

<%- partial ('partials/search') %>
<section class="browse-cars">
    <div class="container">
        <h4>Browse Used Cars by State</h4>

        <ol id="states-list">
            <li id="state-template" class="hidden">
                <a href="#">State Name</a> <span>0 Vehicles</span>
            </li>
        </ol>
    </div>
</section>