<section class="browse-cars" data-ng-controller="simpleSearchController as search">
<div class="container">
    <div class="search-inner col-lg-12 col-md-12 clearfix">
    <form method="get" action="#" name="search.input.simple">
        <div class="row">
                <div class="form-group clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <select
                                class="form-control"
                                data-ng-options="make.value as make.label for make in search.makes track by make.value"
                                data-ng-model="search.input.simple.make"
                                data-ng-init="0">
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <select class="form-control">
                            <option>Model</option>
                            <option>Option 1</option>
                            <option>Option 1</option>
                            <option>Option 1</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <input class="form-control" type="text" name="zip_code" placeholder="Zip Code" />
                    </div>

                    <div class="col-lg-3 l-md-3 col-sm-3">
                        <input type="submit" class="btn btn-block" value="Show Cars" />
                    </div>
                </div>
            </div>
    </form>
</div>
</div>
</section>