<%
    page_params.container_id = "#results-container";
    page_params.template_id = "#result-template";
%>
<section class="results">
    <div class="container" id="results-container" data-ng-controller="gridController as grid" ng-cloak="">
        <h3><%=header %></h3>
        <p class="results-count">{{grid.meta.total_items}} used cars located</p>
        <div class="row">
            <div infinite-scroll='grid.nextPage()' infinite-scroll-disabled='grid.busy' infinite-scroll-distance='1'>
                <div class="col-lg-4 col-md-4 col-sm-6" data-ng-repeat="vehicle in grid.vehicles" itemscope itemtype="http://schema.org/Car">
                    <div class="car">
                        <img itemprop="image" class="result-img" data-ng-if="vehicle.image_urls.length > 0 && vehicle.image_urls[0].length > 0" data-ng-src="http://54.69.100.173:8080/crop/440x330/{{vehicle.image_urls[0]}}" alt="Used car deals on a {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}">
                        <img class="result-img" data-ng-if="vehicle.image_urls.length < 1 || vehicle.image_urls[0].length < 1" src="/images/default-photo.png" alt="Used car deals on a {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}">
                        <div class="overlay">
                            <h3>
                                <a itemprop="url" href="<%=sails.config.autodealio.site.base_url %>{{vehicle.year}}-{{vehicle.make | slug}}-{{vehicle.model | slug}}-{{vehicle.series | slug}}-{{vehicle.vin}}">
                                    <span itemprop="name">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</span>
                                </a>
                            </h3>
                            <strong>Price: ${{vehicle.price}}</strong></div>
                    </div>
                    <div class="other-info clearfix">
                        <span itemprop="">Mileage: {{vehicle.mileage}}</span>
                        <small>
                            Location: <a href="<%=sails.config.autodealio.site.base_url %>{{vehicle.state}}/{{vehicle.city}}">{{vehicle.city}}</a>,
                            <a href="<%=sails.config.autodealio.site.base_url %>{{vehicle.state}}">{{vehicle.state}}</a>
                        </small>
                    </div>
                </div>
                <div ng-show='grid.busy'>Loading data...</div>
            </div>
        </div>
    </div>
</section>