<section class="cities">
    <div class="container">
        <h1>Used car inventory near <%=page_params.city.fromSlug() %>, <%=UtilityService.abbr_state(page_params.state) %></h1>
        <%- partial ('../partials/search/landing', {}) %>
    </div>
</section>

<%- partial ('../partials/vehicle/grid', { header:"Browse All Makes and Models"}) %>