<section class="cities" data-ng-controller="geoController as geo">
    <div class="container" id="cities-container">
        <h1>Used Cars in <%=page_params.state %></h1>
        <h3>Browse By City</h3>
        <p class="cities-count">0 cities located with used cars for sale</p>

        <ol id="cities-list" isotope-container="isotope-container" ng-cloak="">
            <li data-ng-repeat="city in geo.cities track by city.city" isotope-item="isotope-item" class="city-item">
                <a href="<%=sails.config.autodealio.site.base_url %><%=page_params.state %>/{{city.city}}">{{city.city}}</a> <br/>
                <span>{{city.count}} Vehicles</span>
            </li>
        </ol>
    </div>
</section>

<%- partial ('../partials/vehicle/grid', { header:"Browse All Cities"}) %>
